*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
      
}
.stadium{
    width: 100%;
    height: 717px;
    background: url(../assets/timothy-tan-PAe2UhGo-S4-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.player{
    width: 125px;
    height: 125px;
}
.neymar{
    width: 100px;
    height: 125px;
}
.div_ball{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 152px;
    left: 340px;
    animation: pass 10s;
    animation-delay: 2s;
}
.ball{
    animation: rot 2.5s infinite;
    animation-delay: 2s;
}
.player1{
    position: absolute;
    top: 50px;
    left: 260px;
}
.player2{
    position: absolute;
    bottom: 125px;
    left: 600px;
}
.player3{
    position: absolute;
    top: 30px;
    left: 900px;
}
.player4{
    position: absolute;
    bottom: 280px;
    right: 300px;
}
.player5{
    position: absolute;
    right: 20px;
    top: 500px;
    animation: goalkeeper 1.5s infinite alternate;
}
@keyframes pass{
    0%{
        top: 152px;
        left: 340px;
    }
    25%{
        top: 555px;
        left: 685px;
    }
    50%{
        top: 126px;
        left: 985px;
    }
    75%{
        top: 400px;
        left: 1200px;
    }
    100%{
        top: 375px;
        left: 1490px;
        
    }
}
@keyframes goalkeeper{
    from{
        right: 20px;
        top: 450px;
    }
    to{
        right: 20px;
        top: 150px;
    }
}
@keyframes rot{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(720deg);
    }
}
h1{
    color: red;
    font-size:70px;
    text-align: center;
    line-height: 700px;
    opacity: 0;
    animation: goal .8s infinite alternate;
    animation-delay: 12s;
}
@keyframes goal{
    0%{
        color: red;
        opacity: 1;
    }
    50%{
        color: blue;
        opacity: 1;

    }
    100%{
        color: green;
        opacity: 1;

    }
}